<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleCNC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConsoleCNC.Properties.Settings>
            <setting name="portName" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="axisXStepsPercm" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="axisYStepsPercm" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="axisZStepsPercm" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="xyMasFeedRate" serializeAs="String">
                <value>508</value>
            </setting>
            <setting name="zMasFeedRate" serializeAs="String">
                <value>254</value>
            </setting>
        </ConsoleCNC.Properties.Settings>
    </userSettings>
</configuration>